@model List<ItemModel>
@{
    ViewData["Title"] = "MyCart";
}

<h2>My cart</h2>
<br />

@if (TempData["message"] != null)
{
    <div class="alert alert-info">
        @TempData["message"]
    </div>
}

@if (Model.Count == 0)
{
    <h3>Your cart is empty!</h3>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Item name</th>
            <th>Item count</th>
            <th>Item price</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ItemCount</td>
                <td>@item.Price</td>
                <td><a asp-controller="Account" asp-action="DeleteItemFromCart" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </table>

    <br />
    <br />
    <a asp-controller="Account" asp-action="Confirm" class="btn btn-success">Confirm order</a>
}